{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
<article class="cf center">
  <div class="fl pa0 center">
    {{ partial "tags.html" .}}
  </div>
    <div class="fl center pv5 ph3 ph4-ns w-80">
      <header>
        <p class="f6 b avenir tracked">
          {{ humanize .Section | upper  }}
        </p>
        <h1 class="f1">
          {{ .Title }}
        </h1>
      </header>
      <div class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray">
        {{ .Content }}
      </div>
      </div>
    </article>
{{ end }}
