#NSFlogo  {
  width: 40%;
  margin: 1em;
}

#nceaslogo  {
  width: 80%;
  margin-left: -1em;
}

.bg-dark-green {
    background-image: linear-gradient(to right, #5d9140, #137752);
}

.bg-light-gray {
    background-color: #bdbcbb;
    padding: 5px;
}

.ul-custom {
  list-style: none; /* Remove default bullets */
}

.ul-custom li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #F4F4F4; /* Change the color */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 0; /* Also needed for space (tweak if needed) */
  margin-left: -2em; /* Also needed for space (tweak if needed) */
  padding: 10px;
}


@media only screen and (max-width: 600px) {
  .sidebar {
    background-color: near-white;
  }
}

@media only screen and (min-width: 601px) {
  .sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}