{{ define "main" }}
  <article class="pa1 pa1-ns nested-copy-line-height nested-img">
    <section class="cf ph1 ph1-l pv3 pv4-l f4 center mw8 lh-copy mid-gray">
      {{- .Content -}}
    </section>
    <section class="flex-ns flex-wrap justify-around mt5">
      {{ range .Paginator.Pages }}
        <div class="relative w-100 w-70-l mb4 bg-white">
          {{- partial "summary.html" . -}}
        </div>
      {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>
{{ end }}
