{{ define "main" }}

<article class="cf">
<div class="fl w-100 w-20-ns ph0 ph0-ns pv1 f4 left lh-copy sidebar">
  <div class="pv3 ph4">
    <a class="link dim no-underline mid-gray" href="/"> All Events ></a>
  </div>
  {{ partial "sidebar.html" . }}
</div>
    <div class="fl ph1 ph1-ns pv5 w-100 w-70-ns center">
      <section class="w-100 mw8">
        {{ range .Pages }}
          <div class="relative w-100 mb4">
            {{ partial "summary.html" . }}
          </div>
        {{ end }}
      </section>
    </div>
{{end}}


