<nav class="pv3 ph3 ph4-ns bg-dark-green" role="navigation">
  <div class="flex-l justify-between items-center center ">
    <a href="http://learning.nceas.ucsb.edu" class="f3 fw2 hover-white no-underline white-90 dib">
        <img src="https://live-ncea-ucsb-edu-v01.pantheonsite.io/sites/default/files/2020-03/NCEAS-Stacked-WHT.png" class="w100 mw4-ns dn db-ns" />
    </a>
    <div class="flex-l items-center dn db-ns">
      {{ partial "i18nlist.html" . }}
      {{ if .Site.Menus.main }}
        <ul class="pl0 mr3">
          {{ range .Site.Menus.main }}
          <li class="list f5 f4-ns fw4 dib pr3">
            <a class="hover-white no-underline white-90" href="{{ .URL }}" title="{{ .Name }} page">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
  </div>
</nav>
